*{
    font-family: sans-serif;
}

li{
    list-style: none;
}

.btn{
    display: inline-block;
    font-size: 15px;
    padding: 2px;
    margin-left: 20px;
    border: 1px solid #dddada;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
}