.avatar {
    display: block;
    width: 110px;
    height: 110px;
    margin-bottom: 5px;
    border: 1.5px solid #000000;
}

.name{
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
}

.follow,
.unfollow{
    width: 110px;
    text-align: center;
    border: 1.5px solid #000000;
    cursor: pointer;
    background-color: #b5f8b9;
}

.unfollow{
    background-color: #ff9e9e;
}

.user {
    display: flex;
    margin-bottom: 20px;
}

.user:last-child{
    margin-bottom: 0;
}

.item_left{
    margin-right: 10px;
}

.pagination {
    display: block;
    text-align: center;
}

.pagination li {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.selected {
    font-weight: bold;
}

.item_right {
    display: block;
}