.profile_info {
    display: grid;
    grid-area: profile_info;
    grid-template-areas: "content_bg" "personal_data";
    grid-template-rows: 2fr 2fr;
    grid-gap: 10px;
}

.content_bg {
    max-width: 450px;
    grid-area: content_bg;
    background-color: #80e368;
    align-self: center;
    justify-self: center;
}

.personal_data {
    grid-area: personal_data;
    background-color: #61e3a3;
}