.title {
    margin-bottom: 20px;
}

.inputWrapp,
.error{
    margin-bottom: 10px;
}

.inputWrapp:last-child {
    margin-bottom: 0;
}

.loginForm input,
.loginForm button{
    display: block;
    padding: 10px;
    border: 1.5px solid #000;
}

.loginForm  button {
    width: 130px;
    height: 35px;
    padding: 0;
    background-color: #fff;
    color: #000000;
}

.error {
    color: red;
}