.dialogs{
    display: grid;
    grid-auto-rows: 100%;
    grid-template-columns: 2fr 8fr;
    grid-gap: 10px;
}

.dialog{
    border: 1.5px solid #000;
    padding: 15px;
}

.messages{
    border: 1.5px solid #000;
    padding: 15px;
}

.add{
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-gap: 10px;
}

textarea{
    border: 1.5px solid #000000;
    resize: none;
    padding: 10px;
}

.btn{
    border: 1.5px solid #000000;
    background-color: #eee;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}